<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="TestDB" connectionString="Server=.\SQL2012;Database=tempdb;Trusted_Connection=True"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
