<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.SqlClient" version="1.0.19269.1" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient.SNI" version="1.0.19235.1" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="3.0.8" targetFramework="net472" />
  <package id="NUnit" version="3.12.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="4.6.0" targetFramework="net472" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.6.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="4.6.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.6.0" targetFramework="net472" />
</packages>